# Copy this file to .env and replace the placeholder with your MongoDB connection string
# For a local MongoDB instance, it might look like:
# MONGO_URL=mongodb://localhost:27017/hospital_db

# For MongoDB Atlas it will look like:
# MONGO_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/myDatabase?retryWrites=true&w=majority

MONGO_URL=your_mongo_connection_string_here
